html, body, .grid, .column {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(192, 192, 192, 0.781);
  font-family: 'Do Hyeon', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: gray;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline;
  padding: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 100px 10px 100px;
  flex-wrap: wrap;
}

.navBarContent {
  margin: 0 0 0 0;
  text-align: center;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header, {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 85vh;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.portfolioItem {
  text-align: center;
  margin: 15px;
}

.contribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contributeTitle {
  width: 50%;
  margin: 40px;
}

.contributeItem {
  width: 50%;
  border-left: black 1px solid;
  padding: 40px;
}

.copyright {
  width: 100%;
  bottom: 1em;
  text-align: center;
  margin: 1em;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutTitle {
  padding: 40px;
  width: 33%;
}

.aboutItem {
  width: 33%;
  padding: 40px;
}

.aboutCenter {
  border-left: black 1px solid;
  border-right: black 1px solid;
  max-block-size: 50%;
}

h1, h2 {
  font-family: 'Do Hyeon', sans-serif;
}

.nameHeader {
  /* position: absolute; */
  margin: 1em 0em 0em 0em;
}

.gameContent{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.gameImage img{
  margin: 10px;
  width: 15em;
}

.gameDetails {
  margin: auto;
  flex-grow: 1;
}

.gameTimes {
  margin: 10px;
  border: black 1px solid;
}